

  .navbar {
    --bs-navbar-padding-y: 0;
  }
  ::after,
   ::before {
     padding: 0;
     margin: 0;
     border: 0;
    box-sizing: border-box;
  }
.navbar-brand{
  margin-right: 0;
}
.wrapper{
  padding:30px;
  min-height: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
}
.image-slider{
  padding: 48px 0 20px 0;
}
.image-slider__image{
  text-align: center;
}
.image-slider__image img{
  max-width: 100%;
  width:720px;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
} 
.h1 {
  text-align: center;
}
.image-slider .swiper-button-prev,
.image-slider .swiper-button-next{
  color: black;
}
.swiper-pagination {
  position: absolute;
  top: 40px;
  background-color: burlywood ;
}
::-webkit-scrollbar {
  width: 0;
}
.kn {
  text-align: center;
}